.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #7e4621;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.add form {
  gap: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.add-img-upload img {
  width: 120px;
}

.add-product-name,
.add-product-description {
  width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
  padding: 10px;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-category-price select,
.add-category-price input {
  max-width: 120px;
  padding: 10px;
}

.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: #7e4621;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
}

.add-img-preview {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-img-preview img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
