.header {
  height: 80vh;
  background: url("/header_img.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 16vw;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-left: -4vw;
  position: relative; /* Needed for dropdown positioning */
}

.search-box {
  padding: 1vw 5vw;
  font-size: max(1vw, 13px);
  border-radius: 10px;
  border: 3px solid rgb(116, 58, 25);
  flex: 1;
  outline: none;
  padding-left: 1.2vw;
  margin-bottom: 35px;
}

.search-button {
  padding: 1vw 2vw;
  font-size: max(1vw, 13px);
  border-radius: 10px;
  border: 3px solid rgb(116, 58, 25);
  background-color: rgb(116, 58, 25);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 35px;
}

.menu-button-container {
  margin-top: 2vw;
}

.view-menu-button {
  border: none;
  color: white;
  font-weight: bold;
  padding: 1vw 2.3vw;
  background-color: rgb(116, 58, 25);
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px; /* Adjust based on your preference */
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000; /* Ensure dropdown is on top */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional for better visibility */
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }

  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
